<div class="container white" ng-controller="homeController">
	 <h1>Company List</h1>
		<table class="table">
		  <thead>
			<tr>
			  <th>Name</th>         
			  <th>Email</th>
			  <th>Address</th>
			  <th>Action</th>
			  <th>&nbsp;</th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			<!-- Form to add new company or update existing -->
			  <td><input class="form-control" ng-model="company.name"></td>
			  <td><input class="form-control" ng-model="company.email"></td>
			  <td><input class="form-control" ng-model="company.address"></td>
			  <td><button class="btn btn-primary" ng-click="addCompany()">Add Company</button></td>
			  <td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td>
			</tr>
			<!-- Display all company data in table view  -->
			<tr ng-repeat="company in companies">
			  <td><a href="#/employee/{{company._id}}">{{company.name}}</a></td>
			  <td>{{company.email}}</td>
			  <td>{{company.address}}</td>
			  <td><button class="btn btn-danger" ng-click="remove(company._id)">Remove</button></td>
			  <td><button class="btn btn-warning" ng-click="edit(company._id)">Edit</button></td>
			</tr>
		  </tbody>
		</table>
</div>